:host {
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  background: white;
  padding: 12px;
  border-top: 1px solid #ddd;
  div.button {
    width: 30%;
    text-align: center;
    i.fas {
      font-size: 24px;
      font-weight: 600;
      color: #dddddd;
      &.active {
        font-size: 26px;
        color: #7a7a7a;
      }
    }
  }
}
