:host {
  display: block;
}
$primary: #336a86;

div.wrapper.input{
  border: 1px solid $primary;
  padding: 12px;
  position: relative;
  display: flex;
  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #666;
  }
  i.fas {
    font-size: 18px;
    color: $primary;
  }
}
