
<div class="container">
  <div class="header">
    <div class="element">
      <i class="fas fa-history"></i>
    </div>
    <div class="title wrapper">
      <h4 class="text">Mes contacts</h4>
    </div>
  </div>
  <search-input></search-input>
</div>

<ng-container *ngFor="let elt of [1,2,3,7,9,0,22,22]">
  <list-view-item (actionClickedEvent) = onClick($event)
                (itemClickedEvent)= onContactClick($event)
                (itemDbClickedEvent) = onContactDbClick($event)></list-view-item>
</ng-container>

<mobile-nav></mobile-nav>

<modal *ngIf="showModal"></modal>
