div.container {
  padding: 12px;
  div.header {
    div.element{
      display: flex;
      justify-content: flex-end;
      i.fas {
        font-size: 24px;
        color: #ddd;
      }
    }
    div.title.wrapper {
      width: 100%;
      text-align: center;
      h4.text {
        font-weight: 700;
        font-size: 18px;
        color: #7a7a7a;
      }
    }
  }
  search-input {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
