<div class="contact item">
  <div class="front"
       [ngClass]="{'left': swipeToLeft, 'right': !swipeToLeft}"
       (swipeLeft)="onSwipeLeft($event)"
       (swipeRight)="onSwipeRight($event)"
       (click)="onItemClick()">
    <div class="image wrapper">
      <div class="text" [style.background]="color"><p>{{icon}}</p></div>
    </div>
    <div class="content wrapper">
      <span class="text">{{content}}</span>
      <i class="icon fas fa-mobile-alt"></i>
    </div>
  </div>
  <div class="back">
    <ng-container *ngFor="let action of actions">
      <i class="{{'icon fas fa-'+action.icon}}" (click) = onActionClick(action.name)></i>
    </ng-container>
  </div>
</div>
