<div class="contact item">
  <div class="front"
       [ngClass]="{'left': swipeToLeft, 'right': !swipeToLeft}"
       (swipeLeft)="onSwipeLeft($event)"
       (swipeRight)="onSwipeRight($event)"
       (click)="onItemClick()">
    <div class="image wrapper">
      <div class="text" [style.background]="color">
        <i *ngIf="icon !== ''">{{icon}}</i>
        <i *ngIf="icon === ''" class="fas fa-user"></i>
      </div>
    </div>
    <div class="content wrapper flex">
      <div class="text"><p>{{content}}</p></div>
      <i class="icon fas fa-mobile-alt"></i>
    </div>
  </div>
  <div class="back">
    <ng-container *ngFor="let action of actions">
      <i class="{{'icon fas fa-'+action.icon}}" (click) = onActionClick(action.name)></i>
    </ng-container>
  </div>
</div>
