:host {
  display: block;
}
$primary: #336a86;
$secondary: #8fafc4;

div.contact.item {
  position: relative;
  div.front {
    display: flex;
    background: white;
    position: relative;
    z-index: 1;
    div.image.wrapper {
      width: 80px;
      display: flex;
      div.text {
        font-weight: 600;
        color: #fffcfc;
        height: 40px;
        width: 40px;
        background: $primary;
        border-radius: 50%;
        display: flex;
        margin: auto;
        i {
          margin: auto;
          text-align: center;
        }
      }
    }
    div.content.wrapper {
      width: 100%;
      padding: 12px 12px 12px 2px;
      border-bottom: 1px solid #dddddd;
      div.text {
        width: 237px;
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      i.icon {
        position: absolute;
        right: 15px;
        font-size: 24px;
        color: $primary;
      }
    }
    &.left {
      left: -140px;
      transition: all 0.2s ease-in-out;
    }
    &.right {
      left: 0;
      transition: all 0.2s ease-in-out;
    }
  }
  div.back {
    display: flex;
    background: $secondary;
    padding: 12px;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    i.icon {
      font-size: 24px;
      color: white;
      margin-left: 15px;
      font-weight: 300;
      &.fa-phone {
        font-weight: 600;
      }
    }
  }
}
