/* You can add global styles to this file, and also import other style files */

@import "libs/reset";
@import "libs/fonts";
@import "libs/variables";

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

::placeholder {
  color: $secondary;
}

input {
  color: $secondary;
}
.container {
  padding: 14px;
}

.flex {
  display: flex;
  &.left {
    justify-content: flex-end;
  }
  &.right {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
}

div.button {
  button {
    width: 100%;
    padding: 10px;
    background: $primary;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  }
}
