/* You can add global styles to this file, and also import other style files */

@import "libs/reset";
@import "libs/fonts";
$secondary: #8fafc4;


body {
  margin: 0;
}

::placeholder {
  color: $secondary;
}

input {
  color: $secondary;
}
