/* You can add global styles to this file, and also import other style files */

@import "libs/reset";
@import "libs/fonts";
$secondary: #8fafc4;


body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

::placeholder {
  color: $secondary;
}

input {
  color: $secondary;
}
.container {
  padding: 14px;
}

.flex {
  display: flex;
  &.left {
    justify-content: flex-end;
  }
  &.right {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
}
