@import "../../../../libs/variables";

main {
  div#frugalmap {
    height: 300px;
    width: 100%
  }
  padding-top: 20px;
  font-size: 14px;
  h4.title {
    padding: 14px;
    font-size: 15px;
    font-weight: bold;
  }
  div.row {
    span.label {
      font-weight: bold;
      min-width: 120px;
      word-break: break-all;
    }
    span.value {
      margin-left: 5px;
      i.prefix {
        color: $primary;
      }
    }
    border-bottom: 1px solid #dddddd;
  }

  section {
    div.card {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      padding: 12px;
      margin-bottom: 5px;
      i {
        float: right;
        color: darken($gray, 30%);
        font-size: 12px;
      }
      h6 {
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
  }
}

